[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
django-environ = "*"
celery = {extras = ["redis"], version = "*"}
requests = "*"
djangorestframework = "*"
pillow = "*"
validatr = {path = ".", editable = true}
psycopg2-binary = "*"

[dev-packages]
ipdb = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3"
