[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
celery = {extras = ["redis"], version = "*"}
requests = "*"
djangorestframework = "*"
pillow = "*"

[dev-packages]
ipdb = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
